@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.splide{
  padding: 0 !important;
  
}
.splide__slide img {
  width: 100%;
  height: auto;
  object-fit: contain;
}


body{
  background-color: #141414;
}

